doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width')
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords.join(','))
      meta(property='og:title', content='Wintersmith')
      meta(property='og:url', content=locals.url)
      meta(property='og:description', content=locals.description)
      meta(property='og:image', content=locals.url+contents.images['wintersmith-og.png'].url)
      meta(property='og:type', content='website')
      title Wintersmith
      link(rel='stylesheet', href=contents.styles['site.less'].url)
      script
        | if (window.location.href == 'http://jnordberg.github.io/wintersmith/')
        |   window.location.href = 'http://wintersmith.io/';
        | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        | ga('create', 'UA-41063995-2', 'wintersmith.io');
        | ga('send', 'pageview');
  body
    block body
      p Nothing to see here, move along.
