doctype xml
rss(version='2.0',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:wfw='http://wellformedweb.org/CommentAPI/',
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:atom='http://www.w3.org/2005/Atom')
  channel    
    - var articles = _.chain(contents.articles._.directories).map(function(item){ return item.index }).sortBy(function(item) { return -item.date }).value();
    title= locals.name
    atom:link(href=locals.url + '/feed.xml', rel='self', type='application/rss+xml')
    link= locals.url
    description= locals.description
    pubDate= articles[0].rfc822date
    generator The mighty Wintersmith
    language en
    for article in articles
      - var permalink = locals.url + article.url
      item
        title= article.title
        link= permalink
        pubDate= article.rfc822date
        guid(isPermaLink='true')= permalink
        author= article.author
        description= article.getHtml(locals.url) // passing locals.url resolves all relative urls to absolute
